@import './../../App.scss';

.common {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'c1 c1' 'c2 c3';
}
.header {
    box-sizing: border-box;
    grid-area: c1;
    padding: 0;
    margin: 0;
    height: 40px;
    background: rgba(222, 184, 135, 0.50);
    border: $border;
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
    font-weight: 700;
    }
.navbar {
    padding: 5px 10px;
    grid-area: c2;
    display: flex;
    flex-direction: column;
    border: $border;
    height: 100%;
    background: rgba(117, 117, 184, 0.5);
    width: 15vw;
}
a {
    text-decoration: none;
    color: black;
    &:hover {
        color: red;
    }
}   

.animation {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.props {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.transition {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.content {
    grid-area: c3;
    padding: 20px;
}


